
<h1>Congratulation!</h1>
<p>You are selected as today's winner!</p>
<div class="jumbotron">
  <h1>Free Prize!</h1>
  <p>Get your free iPhone 6s!!!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Click to Claim!</a></p>
 <body>s


<img src= https://ss7.vzw.com/is/image/VerizonWireless/landing-page-why-vz-iphone-6s-plus-homescreen-v1?$defaultScaleJPG90$


</body>
</div>

